<div *ngIf="!heroesLoaded">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
<div *ngIf="heroesLoaded">
    <mat-list style="margin-top:15px;" class="heroes">
            <!-- (click)="selectHero(hero)" -->
        <mat-list-item *ngFor="let hero of heroes" style="margin-bottom:5px;">
            <button color="primary" mat-raised-button routerLink='/detail/{{hero.id}}'
                [class.selected]="hero === selectedHero" matBadge="{{hero.id}}" matBadgeColor="accent" style="width: 100%;">
                {{hero.name}}
            </button>
        </mat-list-item>

    </mat-list>
    <!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
</div>