<div>
    <mat-list style="margin-top:15px;" class="heroes">
            <!-- (click)="selectHero(hero)" -->
        <mat-list-item *ngFor="let hero of heroes" style="margin-bottom:5px;">
            <button color="primary" mat-raised-button routerLink='../hero/{{hero.id}}'
                [class.selected]="hero === selectedHero || hero.id === selectedId" matBadge="{{hero.id}}" matBadgeColor="accent" style="width: 100%;">
                {{hero.name}}
            </button>
        </mat-list-item>

    </mat-list>
    <!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
</div>