<div style="border: 3px solid blue; margin: 5px; padding: 5px;">
    <h3>Simple http call, retrieving data from local asset file: </h3>
    {{simpleData}}
</div>

<div style="border: 3px solid blue; margin: 5px; padding: 5px;">
    <h3>Simple http call, retrieving full response from http call (http.get): </h3>
    {{fullHttpResponse | json}}
</div>

<div style="border: 3px solid blue; margin: 5px; padding: 5px;">
    <h3>Simple http call, retrieving text data (non-Json) using switchMap (http.get): </h3>
    I also happen to have proper error handling..see inside me..<br/>
    Non Json Data : {{nonJsonData}}
</div>

<div style="border: 3px solid blue; margin: 5px; padding: 5px;">
    <h3>Simple http call, get-ed with httppoptions(httpheaders) passed: </h3>
    {{resultWithHttpHeader | json}}
</div>